body{
    margin:0;
    height:100vh;
    background: #FFF5FD;
    font-family: 'Avara_Bold';
    font-family: 'mono';
   
}


a {
    text-decoration-style: solid;
    color:black;
}
a:hover {
    text-decoration-style: wavy;
    /*
    transform: rotate(5deg);
*/
}
a:active {

}

p {
    margin: 16px 0;
}
ul {
    margin-left:0;
    list-style-type: circle;
}


#footer, #header, .descriptionlongue {
    border: 0 dashed #000;
    width:100%;


}
#footer, .descriptionlongue {
    border-top-width: 1px ;
}
#header, .descriptionlongue {
    border-bottom-width:  1px ;
}
/*
#footer, #header {
    width:100%;
    position: fixed ;
}*/
#header {
    top: 0;
    font-size: small;
}
#header h1{
    font-size: small;
    display: inline;
    
}

#footer{
    font-size: x-small;
    bottom: 0;
}

.nav {
    margin:5px;
    padding: 0;
    display: flex;
        flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.nav li {
    padding:3px;
    margin-right: 20px; 
    display: block;
    
}



#content {
    margin: 20px auto;
    padding:10px;
    max-width: 800px;
    min-height: calc(100% - 150px);
    
}

#content>h2, #content>a>h2{
    font-weight:normal;
    font-family: 'Avara_Bold';

    font-size: 64pt;
    margin-bottom: 30px;
}

.descriptionlongue {
  margin: 30px 0;
  padding: 20px 0;

}

.descriptionlongue h1{
    font-size: x-large;

}
.descriptionlongue h2{
    font-size: large;
   margin-bottom: 0px;
}
.descriptionlongue h3, .descriptionlongue h4, .descriptionlongue h5{
    font-size: normal;
   margin-bottom: 0px;
}
.jeu, .etiquette {
    font-weight: bold;
}
.descriptioncourte 
{
    font-size: small;
    font-style: italic;
}
label {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: small;
}

/* bddlist*/

.bddlist ul {
    list-style: none;
    padding: 0;
}
.bddlist ul li:before {
  content: ">";
  font-family: 'Avara_Bold';
  font-size: 15pt;
  position: absolute;
  /*change margin to move dash around*/
  margin-left: -1em;
}
.bddlist li{
    width:auto;
    margin:15px;

}

.bddlist a.jeu, .bddlist a.etiquette {
}
.bddlist li a{
    display: block;
    font-size: normal;
}
/*

.bddlist li:hover .descriptioncourte{
    display: inline;
    background: white;
    
}