body
{
  background: black no-repeat right top ;
  background-size: cover;
  background-image: url(YOUGZ3.png); /*, url(YOUGZ3.png) ;*/



  color: WHITE;
}

header
{
    font-size: 4em;
  background:  no-repeat left top ;
  background-size: contain;
  /* background-image: url(YOUGZ1.png); /*, url(YOUGZ3.png) ;*/ */

    }

p
{
    font-size: 1em;
    font-family: cac_champagne-webfont;
    font-style: NORMAL;
    text-align: left;
}
@font-face {
  font-family: "cac_champagne-webfont";
  src:url("cac_champagne-webfont.eot") format("eot"),
      url("cac_champagne-webfont.woff")format("woff"),
      url("cac_champagne-webfont.eot")format("truetype"),
      url("cac_champagne-webfont.eot")format("svg");
}
